{#
Thumbnail Macro - UI_STANDARD.md compliant (wm-tile--bbox)

Parameters:
- image_path: relative path to image
- bbox: tuple (x, y, w, h) for CSS clipping, or None for full image
- index: unique index for this thumbnail
- od_class: Object detection class name
- cls_class: Classification class name
- score: Combined score
- common_name: Human-readable species name
- detection_id: ID for checkbox value
- show_checkbox: whether to show selection checkbox
#}

{% macro thumbnail(image_path, bbox=None, index=0, od_class='', od_conf=0, cls_class='', cls_conf=0, score=0,
common_name='', image_width=150, is_thumb=False, show_checkbox=False, detection_id='') %}
<div class="wm-tile wm-tile--bbox{% if show_checkbox %} wm-tile--selectable{% endif %}"
    data-detection-id="{{ detection_id }}" {% if bbox %}data-bbox-x="{{ bbox[0] }}" data-bbox-y="{{ bbox[1] }}"
    data-bbox-w="{{ bbox[2] }}" data-bbox-h="{{ bbox[3] }}" {% endif %}>

    {% if show_checkbox %}
    <div class="wm-tile__select">
        <input type="checkbox" class="form-check-input wm-tile__checkbox" name="selected_detections"
            value="{{ detection_id }}" id="check-{{ detection_id }}">
    </div>
    {% endif %}

    <button type="button" class="wm-tile__button" data-bs-toggle="modal" data-bs-target="#modal-{{ index }}"
        data-image-path="{{ image_path }}">

        <div class="wm-tile__media wm-tile__media--bbox">
            <img class="wm-tile__image wm-tile__image--bbox" src="{{ image_path }}"
                alt="{{ common_name or cls_class or 'Observation' }}">
        </div>
    </button>

    <div class="wm-tile__body">
        {% if common_name %}
        <span class="wm-tile__name">{{ common_name }}</span>
        {% endif %}

        {% if cls_class or od_class %}
        <span class="wm-tile__latin">{{ (cls_class or od_class) | replace('_', ' ') }}</span>
        {% endif %}

        {% if score %}
        <span class="wm-tile__score">{{ "%.2f" | format(score) }}</span>
        {% endif %}
    </div>
</div>
{% endmacro %}


{# Gallery Grid Macro - renders a collection of thumbnails #}
{% macro gallery_grid(detections, id_prefix='gallery', image_width=150, show_checkboxes=False, common_names={}) %}
<div class="gallery-grid-container" id="{{ id_prefix }}-grid">
    {% for det in detections %}
    {% set common_name = common_names.get(det.cls_class_name, det.cls_class_name | default('') | replace('_', ' ')) %}

    {# URL Construction logic #}
    {% set thumb_virt = det.thumbnail_path_virtual %}
    {% set rel_path = det.relative_path or det.optimized_name_virtual %}
    {% if thumb_virt %}
    {% set img_url = '/uploads/derivatives/thumbs/' ~ thumb_virt %}
    {% set is_t = True %}
    {% else %}
    {% set img_url = '/uploads/derivatives/optimized/' ~ rel_path %}
    {% set is_t = False %}
    {% endif %}

    {{ thumbnail(
    image_path=img_url,
    bbox=(det.bbox_x, det.bbox_y, det.bbox_w, det.bbox_h) if det.bbox_x is defined else None,
    index=loop.index0,
    od_class=det.od_class_name,
    od_conf=det.od_confidence,
    cls_class=det.cls_class_name,
    cls_conf=det.cls_confidence,
    score=det.score,
    common_name=common_name,
    image_width=image_width,
    is_thumb=is_t,
    show_checkbox=show_checkboxes,
    detection_id=det.detection_id
    ) }}
    {% endfor %}
</div>
{% endmacro %}